
{{outlet}}

{{munich-map}}
  <div class="row index-row">
    <div class="col-sm-3 col-shadow min-width-200px">
      {{online-users}}
    </div>
    <div class="col-sm-6 col-shadow min-width-200px">
      {{chart-pagevisits}}
    </div>
    <div class="col-sm-custom col-shadow min-width-200px">
      {{server-status}}
    </div>
</div>
